/* body {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    background-color: aquamarine;

} */



#strike1{
    display: none;
}
#strike3{
    display: none;
}
#strike2{
    display: none;
}
#xbox{
    display: none;
}

/* #team1card{
background-color: greenyellow;
}

#team2card{
background-color: darkslategray;
} */

 /* #answercontainer{

display: block;
flex-direction: row;
justify-content: center;
} 


.smallanswer{
display: flex;
flex-direction: column;
justify-content: center;



}  */